@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
  margin: 0;
  font-family: 'Yeon Sung', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  color: #5dd39e;
  text-decoration: none;
}
